{% extends "layout.html" %}
{% block title %}New Task{% endblock %}
{% block css %}
  <link rel="stylesheet" href="{{ url_for('static', filename='libs/tagify.css') }}">
{% endblock %}
{% block scripts %}
  <script src="{{ url_for('static', filename='libs/tagify.min.js') }}"></script>
  <script src="{{ url_for('static', filename='scripts/task_form.js') }}"></script>
{% endblock %}

{% block content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ url_for('home') }}">Home</a></li>
    <li class="breadcrumb-item"><a href="{{ url_for('tasks') }}">Tasks</a></li>
    <li class="breadcrumb-item active" aria-current="page">New Task</li>
  </ol>
</nav>
{% include 'components/task_form.html' %}
{% endblock %}
