{% extends "layout.html" %}
{% block title %}Databases{% endblock %}
{% block scripts %}
  <script src="{{ url_for('static', filename='scripts/database_edit.js') }}"></script>
{% endblock %}
{% block content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ url_for('home') }}">Home</a></li>
    <li class="breadcrumb-item"><a href="{{ url_for('databases') }}">Databases</a></li>
    <li class="breadcrumb-item active" >{{ db['name'] }} ({{ db['path'] }})</li>
  </ol>
</nav>
<h3>Columns</h3>
<table class='table table-sm'>
  <tr>
    <th>ID</th>
    <th>Semantic Name</th>
    <th>Syntactic Name</th>
    <th>Type</th>
    <th>Table Name</th>
    <th>Is PK</th>
  </tr>
  {% for col in db['schema'].columns %}
  <tr>
    <td>{{ col.id }}</td>
    <td>{{ col.sem_name }}</td>
    <td>{{ col.syn_name }}</td>
    <td>{{ col.type }}</td>
    <td>{{ col.table.syn_name }}</td>
    <td>{% if col.pk %}&#10004;{% endif %}</td>
  </tr>
  {% endfor %}
</table>
<h3>Foreign Keys</h3>
<form id='fkpk-form' action='{{ url_for("database_edit_fkpk", name=db["name"]) }}' method='POST' class='mb-3'>
<table class='table table-sm'>
  <tr>
    <th>Foreign Key ID</th>
    <th>Primary Key ID</th>
    <th>Delete</th>
  </tr>
  {% for fkpk in db['fkpks'] %}
  <tr class='fkpk-row'>
    <td class='fkpk-row-fk'>{{ fkpk['fk'] }}</td>
    <td class='fkpk-row-pk'>{{ fkpk['pk'] }}</td>
    <td><button class='del-fkpk btn btn-sm btn-danger'>Delete</button></td>
  </tr>
  {% endfor %}
  <tr>
    <td><input id='add-fkpk-fk' type='number' class='form-control add-fkpk-input' /></td>
    <td><input id='add-fkpk-pk' type='number' class='form-control add-fkpk-input' /></td>
    <td><button class='add-fkpk btn btn-sm btn-success'>Add</button></td>
  </tr>
</table>
<input type='submit' class='btn btn-block btn-primary' value='Save Changes' />
</form>
<h3>Autocomplete Tokens Preview</h3>
<a href="/databases/{{ db['name'] }}/reset_autocomplete" class='btn btn-secondary'>Reset Autocomplete</a>
{% if ac_tokens %}
<ul>
  {% for token in ac_tokens %}
  <li>{{ token }}</li>
  {% endfor %}
</ul>
{% else %}
<div class='alert alert-warning'>No autocomplete tokens detected.</div>
{% endif %}

{% endblock %}
