<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock %} - Duoquest</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/style.css">
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="{{ url_for('home') }}">Duoquest</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item {% if path == url_for('home') %}active{% endif %}">
            <a class="nav-link" href="{{ url_for('home') }}">Home</a>
          </li>
          <li class="nav-item {% if path == url_for('start') %}active{% endif %}">
            <a class="nav-link" href="{{ url_for('start') }}">New Task</a>
          </li>
          <li class="nav-item {% if path.startswith(url_for('tasks')) %}active{% endif %}">
            <a class="nav-link" href="{{ url_for('tasks') }}">Tasks</a>
          </li>
        </ul>
      </div>
    </nav>

    <main role="main" class="container">
      {% if error %}
      <div class='alert alert-danger'>{{ error }}</div>
      {% endif %}
      {% block content %}
      {% endblock %}
    </main><!-- /.container -->

    {% block scripts %}{% endblock %}
  </body>
</html>
