{% extends "layout.html" %}
{% block title %}Tasks{% endblock %}
{% block scripts %}
  <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
  <script src="/static/scripts/tasks.js"></script>
{% endblock %}
{% block content %}
  <h1>Tasks</h1>
  <table class='table'>
    <tr>
      <th>Task ID</th>
      <th>Database</th>
      <th>NLQ</th>
      <th>Status</th>
      <th>Error Message</th>
      <th>Rerun</th>
    </tr>
    {% for task in tasks %}
    <tr>
      <td>
        <a href='{{ url_for("task", tid=task["tid"]) }}'>{{ task['tid'] }}</a>
      </td>
      <td>{{ task['db'] }}</td>
      <td>{{ task['nlq'] }}</td>
      <td>
        {% include 'components/task_status.html' %}
      </td>
      <td>{{ task['error_msg'] }}</td>
      <td>
        <button data-tid='{{ task["tid"] }}' class="rerun btn btn-block btn-secondary" {% if task['status'] == 'waiting' or task['status'] == 'running' %}disabled{% endif %}>Rerun</button>
      </td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}
