{% extends "layout.html" %}
{% block title %}Task Info{% endblock %}
{% block scripts %}
  <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="/static/scripts/task.js"></script>
  <script src="/static/scripts/task_form.js"></script>
{% endblock %}
{% block content %}
<h2>Query</h2>
{% with tsq = task['tsq'] %}
  {% include 'components/task_form.html' %}
{% endwith %}

<h2>Results</h2>

<div class="accordion" id='task-results' data-offset="0" data-tid="{{ task['tid'] }}" data-status="{{ task['status'] }}">
</div>
<div id="task-results-error" class="alert alert-danger" role="alert" style="display: none">
  {% if task['error_msg'] %}
  Error: {{ task['error_msg'] }}
  {% else %}
  Error: please refresh the page or try running the task again.
  {% endif %}
</div>
<div id="task-results-waiting" class="alert alert-info" style="display: none">Task has not started executing yet...</div>
<div id="task-results-spinner" class="text-center">
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>

{% endblock %}
