<ol>
  <li><em>H. V. Jagadish</em> is an author from the <em>University of Michigan</em>.</li>
  <li>The <em>Africa Rice Center</em> is an organization located in <em>Africa</em>.</li>
  <li>The <em>SIGMOD</em> website is located at <em>http://www.sigmod2011.org</em>.</li>
  <li>The publication <em>Answering Imprecise Queries over Web Databases</em> was published in the <em>VLDB</em> conference.</li>
  <li>There are over 200,000 authors in the database.</li>
  <li>The keyword "zipf law" has 25 publications in the database.</li>
  <li>The keyword <em>Structured Query Language</em> has between 50 and 100 publications in the database.</li>
  <li><em>H. V. Jagadish</em> has published between 50 and 100 papers, including <em>CRIUS: User-friendly Database Design</em>.</li>
  <li>Some of the premier conferences in the <em>Databases</em> domain are <em>SIGMOD</em> and <em>VLDB</em>.</li>
  <li>The publication <em>Locking Protocols for Materialized Aggregate Join Views</em> includes the keyword <em>Concurrency Control</em>.</li>
</ol>
