<table class='table table-bordered tsq'>
  <tr>
    <th class='table-primary tsq-head'>Types</th>
    {% for type in tsq.types %}
      <td>{{ type }}</td>
    {% endfor %}
  </tr>
  <tr>
    {% if tsq.values|length > 0 %}
      <th class='table-primary tsq-head' rowspan='{{ tsq.values|length }}'>Values</th>
      {% for cell in tsq.values[0] %}
      <td>{{ cell }}</td>
      {% endfor %}
    {% else %}
      <th class='table-primary tsq-head' rowspan='1'>Values</th>
      <td colspan='{{ tsq.types|length }}'>No values in this TSQ. </td>
    {% endif %}
  </tr>
  {% if tsq.values|length > 1 %}
  {% for row in tsq.values[1:] %}
    <tr>
      {% for cell in row %}
      <td>{{ cell }}</td>
      {% endfor %}
    </tr>
  {% endfor %}
  {% endif %}

  <tr>
    <th class='table-primary'>Ordered?</th>
    <td colspan='{{ tsq.num_cols }}'>
      {% if tsq.order %}&#x2714;{% else %}&#x2718;{% endif %}
    </td>
  </tr>
  <tr>
    <th class='table-primary'>Limit?</th>
    <td colspan='{{ tsq.num_cols }}'>
      {% if tsq.limit %}{{ tsq.limit }}{% else %}&#x2718;{% endif %}
    </td>
  </tr>
</table>
